.landing-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.8;
    background-image:  radial-gradient(#949494 0.7px, transparent 0.7px), radial-gradient(#373737 0.7px, #141414 0.7px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

.landing-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 25%;
    height: 25%;
    padding: 5px;

    opacity: 100%;
    background-color: #0a0a0a;
    border-radius: 15px;
}

.landing-modal-tabstrip {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;

    height: 20%;
    width: 100%;
}

.landing-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #020202;
    border-radius: 10px;

    height: 80%;
    width: 100%;   
}

.landing-tab {
    border: 0px;
    width: 90%;
    height: 90%;
    border: 0px;

    font-size: x-large;
    font-family: monospace;

    background-color: #373737;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.landing-tab:hover {
    opacity: 90%;
}

.tab-black-on-white {
    background-color: rgb(255, 255, 255);
    color: black;
}

.tab-white-on-black {
    background-color: rgb(0, 0, 0);
    color: azure;
}

.landing-input-gameid {
    width: 50%;
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
    height: 20%;

    background-color: rgba(19, 19, 19, 50);
    color: whitesmoke;

    border-radius: 6px;
    border: 0px;
    border-color: #ffffff;
}

.landing-input-size {
    width: 20%;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 15px;
    height: 20%;

    background-color: rgba(19, 19, 19, 50);
    color: whitesmoke;

    border-radius: 6px;
    border: 0px;
    border-color: #ffffff;
}

.landing-text {
    font-size: xx-large;
    font-family: monospace;
    color: whitesmoke;
    margin: 3px;
}

.landing-button {
    background-color: rgb(253, 253, 253);
    color:#141414;

    font-family: monospace;
    font-size: x-large;

    width: 8em;
    padding: 5px 7px 5px 7px;
    margin-top: 10px;
    border: 2px rgb(0, 0, 0);
    border-radius: 2px;
    opacity: 80%;
}

.landing-button:hover {
    opacity: 90%;
}

.landing-button:active {
    opacity: 100%;
}