
.game-container-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: whitesmoke;
    font-family: monospace;

    opacity: 0.8;
    background-image:  radial-gradient(#949494 0.7px, transparent 0.7px), radial-gradient(#373737 0.7px, #141414 0.7px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

.game-container {
    display: flex;
    flex-direction: row;

    color: whitesmoke;
    font-family: monospace;

    opacity: 0.8;
    background-image:  radial-gradient(#949494 0.7px, transparent 0.7px), radial-gradient(#373737 0.7px, #141414 0.7px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

.game-details-container {
    width: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    align-content: center;
    text-align: center;

    border-radius: 10px;

    opacity: 1;
    background-color: #0a0a0a;
    filter: drop-shadow(5px 5px 10px #000000);
}

.game-board-container {
    width: 97vh;
    height: 97vh;

    margin-right: 10vh;
    
    background-color: #654b3a;
    background-image:
      repeating-linear-gradient(#000000 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #0c0c0c 0 1px, transparent 1px 100%);
    background-size: 71px 71px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px #000000);
}

.game-info-container {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    padding: 10px;
    margin-bottom: 2vh;

    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #141414);
}

.gi-container-white {
    background-color: aliceblue;
    color: black;
}

.gi-container-black {
    background-color: #000000;
    color: aliceblue;
}

.spacer {
    height: 2vh;
}

.game-control-container {
    position: absolute;
    bottom: 2vh;
}

.game-control-button {
    background-color: rgb(127, 1, 1);
    color:#e4e4e4;

    font-family: monospace;
    font-weight: bolder;
    font-size: x-large;

    width: 8em;
    padding: 5px 7px 5px 7px;
    margin-top: 10px;
    border: 0px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px #000000);
    opacity: 80%;
}

.game-control-button:hover {
    background-color: rgb(185, 0, 0);
    opacity: 90%;
}

.game-control-button:active {
    background-color: rgb(255, 0, 0);
    opacity: 100%;
}

h2 {
    font-size: xx-large;
    align-self: center;
    padding: 5px;
    margin: 2px;
}

h1 {
    font-size: xxx-large;
    align-self: center;
    margin: 2px;
}

h3 {
    font-size: large;
    margin: 2px;
}